.muscle-map {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px;
    position: relative;
    /* top: 30px; */
    width: 300px;
    height: 400px;
    background-color: var(--background-color);
}

.muscle-map div:not(.abs) {
    background-color: var(--block-color);
    border: 2px solid var(--cornflower-blue);
    border-radius: 40%;
    cursor: pointer;
    box-shadow: 0 0 5px var(--cornflower-blue);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.muscle-map div:not(.abs, .abs div):hover {
    background-color: var(--midnight-blue);
    box-shadow: 0 0 10px var(--cornflower-blue);
    transform: scale(1.1);
}

@keyframes stretch {
    0% {
        transform: scale(.9);
        background-color: var(--tangerine);
        border-radius: 40%;
    }

    50% {
        background-color: var(--midnight-blue);
    }

    100% {
        transform: scale(1.1);
        background-color: var(--block-color);
    }
}

.muscle-map div:not(.abs).animate {
    animation-name: stretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}


.abs>div {
    background-color: var(--block-color);
    border: 1px solid #ddd;
    /* color: white; */
    /* height: 75px;
    width: 75px; */
    /* margin: 5px; */
    border-radius: 40%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* font-size: 20px; */
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.abs:hover>div,
.abs>div:hover {
    background-color: var(--midnight-blue);
    box-shadow: 0 0 10px var(--cornflower-blue);
}

.head {
    grid-column: 4 / 8;
    grid-row: 1 / 4;
    width: 85%;
    height: 90%;
    border-radius: 50%;
    position: relative;
    left: 9px;
    top: 7px;
}

.chest {
    grid-column: 4 / 8;
    grid-row: 4 /7;
    border-radius: 10%;
}

.left-shoulder {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    border-radius: 25%;
    height: 110%;
    position: relative;
    top: -5px;
}

.left-bicep {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    border-radius: 15%;
}

.left-forearm {
    grid-column: 2 / 4;
    grid-row: 7 / 9;
    border-radius: 15%;
    width: 75%;
    justify-self: center;
}

.left-hand {
    grid-column: 2 / 4;
    grid-row: 9 / 10;
    border-radius: 50%;
    width: 60%;
    justify-self: center;
    position: relative;
    top: -3px;
}

.right-shoulder {
    grid-column: 8 / 10;
    grid-row: 4 / 5;
    border-radius: 25%;
    height: 110%;
    position: relative;
    top: -5px;
}

.right-bicep {
    grid-column: 8 / 10;
    grid-row: 5 / 7;
    border-radius: 15%;
}

.right-forearm {
    grid-column: 8 / 10;
    grid-row: 7 / 9;
    border-radius: 15%;
    width: 75%;
    justify-self: center;
}

.right-hand {
    grid-column: 8 / 10;
    grid-row: 9 / 10;
    border-radius: 50%;
    width: 60%;
    justify-self: center;
    position: relative;
    top: -3px;
}

.abs {
    grid-column: 4 / 8;
    grid-row: 7 / 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

.abs div {
    width: 33%;
    height: 33%;
    margin-bottom: 2px;
    margin-right: 5px;
    border-radius: 10px;
    z-index: 1;
}

.left-glute {
    grid-column: 4 / 6;
    grid-row: 8 / 10;
    border-radius: 25%;
    position: relative;
    top: 25px;
    right: 8px;
    height: 90%;
    width: 110%;
    z-index: 0;
}

.left-quad {
    grid-column: 4 / 6;
    grid-row: 11 / 13;
    border-radius: 15%;
    width: 115%;
    height: 115%;
    position: relative;
    bottom: 22px;
    right: 10px;
}

.left-calf {
    grid-column: 4 / 6;
    grid-row: 13 / 15;
    border-radius: 15%;
    width: 80%;
    position: relative;
    bottom: 9px;
}

.left-foot {
    grid-column: 4 / 6;
    grid-row: 15 / 16;
    border-radius: 50%;
    width: 75%;
    position: relative;
    bottom: 10px;
}

.right-glute {
    grid-column: 6 / 8;
    grid-row: 9 / 11;
    border-radius: 25%;
    position: relative;
    right: 5px;
    bottom: 16px;
    height: 90%;
    width: 110%;
    z-index: 0;
}

.right-quad {
    grid-column: 6 / 8;
    grid-row: 11 / 13;
    border-radius: 15%;
    width: 115%;
    height: 115%;
    position: relative;
    bottom: 23px;
    right: 5px;
}

.right-calf {
    grid-column: 6 / 8;
    grid-row: 13 / 15;
    border-radius: 15%;
    width: 80%;
    justify-self: center;
    bottom: 10px;
    position: relative;
}

.right-foot {
    grid-column: 6 / 8;
    grid-row: 15 / 16;
    border-radius: 50%;
    width: 75%;
    justify-self: center;
    position: relative;
    bottom: 10px;
}