body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.muscle-map {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px;
    position: relative;
    width: 300px;
    height: 500px;
    background-color: white;
}

.muscle-map div:not(.abs) {
    background-color: white;
    border: 2px solid black;
}

.head {
    grid-column: 4 / 8;
    grid-row: 1 / 4;
    border-radius: 50%;

}

.chest {
    grid-column: 4 / 8;
    grid-row: 4 /7;
    border-radius: 10%;
}

.left-shoulder {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    border-radius: 25%;
    height: 110%;
    /* box-shadow: 0 0 4px #000; */
}

.left-bicep {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    border-radius: 15%;
}

.right-shoulder {
    grid-column: 8 / 10;
    grid-row: 4 / 5;
    border-radius: 25%;
    height: 110%;
}

.right-bicep {
    grid-column: 8 / 10;
    grid-row: 5 / 7;
    border-radius: 15%;
}

.abs {
    grid-column: 4 / 8;
    grid-row: 7 / 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.abs div {
    width: 33%;
    height: 33%;
    margin-bottom: 2px;
    margin-right: 5px;
    border-radius: 10px;
}