.carousel {
    margin: auto;
    width: 250px;
    border-radius: 10%;
    position: relative;
    bottom: 10px;
}

.my-exercises {
    text-align: center;
    font-size: 20px;
    color: var(--midnight-blue);
    position: relative;
    top: 17px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel-nav a {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: var(--baby-blue);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0.5rem;
    position: relative;
    top: 23px;
    z-index: 1;
    color: white;
    font-size: 12px;
}

.carousel-nav a.active {
    background-color: var(--tangerine);
    color: white;
    font-weight: bold;
    border-radius: 30%;
    border: 1px solid white;
    transform: translateY(-3px);
}

.carousel-slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.carousel-item {
    width: 99%;
    height: 150px;
    /* margin-right: 50px; */
    border-radius: 10%;
    background: var(--block-color);
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 0.5px solid var(--cornflower-blue); */
    margin: 10px;
    box-shadow: 0 0 2px rgba(25, 25, 112, 0.2);
}

.carousel-item-title {
    margin: auto;
    top: 25px;
    position: relative;
    color: var(--branding-color);
    text-align: center;
    padding: 0px 5px;
}

.carousel-item-type {
    margin: auto;
    top: 10px;
    position: relative;
    font-weight: bold;
    color: var(--tangerine);
    -webkit-text-stroke: .1px var(--branding-color);
}

.carousel-item-close-button {
    position: absolute;
    top: 5px;
    left: 8px;
    font-size: 11px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transform: scaleX(1.4);
    padding: 2px 2px 2px 2px;
    transition: background-color 0.1s ease-in-out;
}

.carousel-item-close-button:hover {
    background-color: var(--midnight-blue);
}