.carousel-container {
    /* width: 200px; */
    /* overflow: hidden; */
}

.carousel {
    width: 300px;
    /* overflow: hidden; */
}

.carousel-nav {
    display: flex;
    justify-content: center;
}

.carousel-nav a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--block-color);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0.5rem;
    position: relative;
}

.carousel-slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel-item {
    width: 100%;
    height: 200px;
    margin-right: 50px;
    border-radius: 10%;
    background: var(--block-color);
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
}

.carousel-item h3 {
    font-size: 20px;
}

.carousel-item-close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}