.carousel-container {}

.carousel {
    margin-top: 20px;
    width: 300px;
    /* overflow: hidden; */
    border-radius: 5%;
    border: 1px solid var(--cornflower-blue);
    box-shadow: 0px 0 10px rgba(25, 25, 112, 0.2);
    background-color: var(--block-color);
}

.my-exercises {
    text-align: center;
    font-size: 20px;
    color: #0066EE;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel-nav a {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: var(--baby-blue);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0.5rem;
    position: relative;
    top: 20px;
    z-index: 1;
    color: white;
}

/* .carousel-nav a.active {
    background-color: var(--dark-slate-blue);
    color: white;
    border: 2px solid white;
} */

.carousel-nav a.active {
    background-color: var(--tangerine);
    color: white;
    font-weight: bold;
    border-radius: 30%;
    border: 1px solid white;
    transform: translateY(-3px);
}

.carousel-slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel-item {
    width: 100%;
    height: 200px;
    margin-right: 50px;
    border-radius: 10%;
    background: var(--block-color);
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel-item-title {
    margin: auto;
    top: 34px;
    position: relative;
    color: var(--branding-color);
}

.carousel-item-type {
    margin: auto;
    top: 10px;
    position: relative;
    font-weight: bold;
    color: var(--tangerine);
    letter-spacing: 1px;
    -webkit-text-stroke: .1px var(--branding-color);
}

.carousel-item-close-button {
    position: absolute;
    top: 8px;
    left: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-item-close-button:hover {
    background-color: var(--midnight-blue);
    transform: scale(1.2);
}