.exercise-info-container {
    border: 3px solid var(--navy-blue);
    height: 500px;
    width: 100%;
    border-radius: 10%;
    position: relative;
    right: 30px;
    top: 10px;
    display: flex;
    flex-direction: row;
}

.exercise-display {
    margin: 2% auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 7%;
    left: 1%;
    font-size: 14px;
    background-color: var(--midnight-blue);
    color: white;
    border-radius: 40%;
    cursor: pointer;
    display: none;
}

.exercise-info {
    border: 3px solid var(--cornflower-blue);
    margin-top: 10px;
    border-radius: 15%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.exercise-display:hover .close-button {
    display: block;
}

.primary-muscles-title,
.secondary-muscles-title {
    margin-top: 20px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    color: var(--midnight-blue);
}

.primary-muscles,
.secondary-muscles {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: var(--cornflower-blue);
}