.exercise-info-container {
    border: 5px solid var(--navy-blue);
    height: 500px;
    width: 100%;
    border-radius: 10%;
    position: relative;
    right: 30px;
    top: 10px;
    display: flex;
    flex-direction: row;
}

.exercise-info-num {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--navy-blue);
    cursor: pointer;
}

.exercise-info {
    border: 3px solid var(--cornflower-blue);
    border-radius: 15%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.primary-muscles-title {
    margin-top: 20px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.primary-muscles {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}