.instructions-container {
    border: 3px solid var(--navy-blue);
    border-radius: 25%;
    display: flex;
    flex-direction: column;
}

.instructions-exercise-title {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.exercise-steps {
    list-style-type: none;
    margin-left: 10px;
    counter-reset: step-counter;
}

.exercise-step {
    margin: 10px 5px;
    position: relative;
    text-align: left;
    color: var(--cornflower-blue);
}

.exercise-step::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    color: var(--midnight-blue);
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: -25px;
}