.instructions-exercise-title {
    margin-top: 5px;
    /* left: 10%; */
    position: relative;
    letter-spacing: 1px;
    color: var(--midnight-blue);
    font-size: 16px;
}

.exercise-title-container {
    text-align: center;
    position: relative;
    align-self: center;
    right: 40px;
    position: relative;
    bottom: 5px;
}

.exercise-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--branding-color);
    background-color: var(--block-color);
    width: fit-content;
    padding: 10px;
    border-radius: 18%;
    border: 1px solid var(--branding-color);
    box-shadow: 0px 0 10px rgba(25, 25, 112, 0.2);
}


.exercise-steps {
    list-style-type: none;
    /* margin-left: 4em; */
    counter-reset: step-counter;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out;
}

.exercise-step {
    font-size: 12px;
    margin: 2px 0 10px 10px;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--cornflower-blue);
    border: 1px solid var(--cornflower-blue);
    padding: 10px;
    padding-left: 15px;
    border-radius: 15%;
    width: fit-content;
    transition: all 0.2s ease-in-out;
    white-space: pre;
    white-space: normal;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
    animation-delay: 0.1s;
    word-wrap: normal;
    max-width: 500px;
}

.exercise-step:hover {
    transform: scale(1.05);
    cursor: default;
}

.exercise-step::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    color: var(--midnight-blue);
    font-size: 1.1em;
    font-weight: bold;
    position: absolute;
    left: -14px;
    bottom: 9px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--midnight-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 1px;
    top: 50%;
    transform: translateY(-50%);
}

.exercise-step::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 25px;
    border-style: solid;
    border-width: 0px 2.5px 0px 0px;
    border-color: var(--cornflower-blue);
    left: -14px;
    bottom: 6px;
    border-radius: 50%;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}